* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #422520;
    margin: 0;
    padding: 0;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    /* background: linear-gradient(45deg, #ea4f4c 0%, #6d0019 100%); */
}

.navigationWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-inline: 3%;
    background-color: white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    color: black;
    text-transform: uppercase;
    overflow: hidden;
    width: 80vw;
}


/*----- Toggle Button -----*/

.toggle-nav {
    display: none;
}

.menu ul {
    display: inline-block;
}

.menu li {
    margin: 0px 50px 0px 0px;
    float: left;
    list-style: none;
    font-size: 17px;
}

.menu li:last-child {
    margin-right: 0px;
}

.menu a {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0, 0.5);
    transition: color linear 0.15s;
    font-family: "Roboto", sans-serif;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

.menu a:hover,
.menu .current-item a {
    text-decoration: none;
    color: #66a992;
}


/*----- Responsive -----*/

@media screen and (max-width: 1150px) {
    .wrap {
        width: 90%;
    }
}

@media screen and (max-width: 970px) {
    .search-form input {
        width: 120px;
    }
}

@media screen and (max-width: 860px) {
    .menu {
        position: relative;
        display: inline-block;
    }
    .menu ul.active {
        display: none;
    }
    .menu ul {
        width: 100%;
        position: absolute;
        top: 120%;
        left: 0px;
        padding: 10px 18px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background: #000000;
    }
    .menu ul:after {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0%;
        left: 22px;
        content: "";
        transform: translate(0%, -100%);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #303030;
    }
    .menu li {
        margin: 5px 0px 5px 0px;
        float: none;
        display: block;
    }
    .menu a {
        display: block;
    }
    .toggle-nav {
        padding: 20px;
        display: inline-block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background: #303030;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
        color: #777;
        font-size: 20px;
        transition: color linear 0.15s;
    }
    .toggle-nav:hover,
    .toggle-nav.active {
        text-decoration: none;
        color: #66a992;
    }
}


/* MY CSS */

.mobileBody {
    margin-top: 5%;
    height: 100vh;
    width: 90vw;
    /* background-color: white; */
    color: white;
}